*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input{
    background-color: transparent;
    border: none;
    outline: none;
}

body{
    min-height: 100vh;
    background: linear-gradient(45deg, #6F21C4, #86A8E7, #F61494);

}

.window{
    background-color: #fff;
    width: 350px;
    border-radius: 0.6rem;
    position: absolute;
    box-shadow: 0 .4rem .8rem #0005;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
}

.window__title{
    font-size: 45px;
    text-align: center;
}

form input{
    box-sizing: border-box;
    height: 50px;
    max-width: 100%;
    margin-top: 35px;
    font-size: 25px;
    border: 2px solid rgba(196, 12, 227);
    opacity: 0.7;
    border-radius: 0.6rem;
    padding: 15px;
}

form input[type="button"]{
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    background: linear-gradient(45deg, #6F21C4, #86A8E7, #F61494);
    opacity: 0.7;
    transform: translateX(50%);
    font-weight: 600;
    transition: all 0.3s;
}

form input[type="button"]:hover{
    opacity: 1;
    transition: all 0.3s;
}


